.redirectpage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-size: cover;
    background-image: url("../images/atlanta.jpg");
    background:
}

.redirectpage:before{
    background: rgba(0,0,0,0.7);
}
 button {
    padding: 12px 30px;
    margin: 20px;
    border-radius: 8px;
 }
button:hover {
    background-color: white; /* Green */
    color: white;
}
 #entryButton {
    margin: 20px;

}

 #entryButton:hover {
    color: white;
 }

 #titleEntry {
    color: white;
    font-family: Helvetica;
 }