#title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#data {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mapImage {
    display: flex;
    align-items: center;
    flex-direction: column;
}