#signInForm {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contentForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
}

#signInContent, #signInContent2 {
    margin: 5px;
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

#cancelButton {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}
#submitButton {
    padding: 10px;
    margin: 10px;
    width: 80px;
    border-radius: 8px;
}
#submitButton:hover, #cancelButton:hover {
    background-color: #DCDCDC;
}

input {
    width: 150px;
}